body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.game-container {
    margin-top: 50px;
}

.cookie-button {
    font-size: 100px;
    background-color: #d2b48c;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.cookie-button:hover {
    transform: scale(1.1);
}

.cookie-button:active {
    transform: scale(0.9);
}